{:kotoba.app/id "cloud.itonami.isic-0164", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidkxtju2ki6bpa7ucigawiu3ng2qaomq42e377lmjdejnahoqlczm", :kotoba.app/embed-url "ipfs://bafkreidkxtju2ki6bpa7ucigawiu3ng2qaomq42e377lmjdejnahoqlczm", :published {:archive "https://kotobase.net/ipfs/bafkreidkxtju2ki6bpa7ucigawiu3ng2qaomq42e377lmjdejnahoqlczm", :size 72668, :put-status 201, :get-status 200, :at "2026-08-15T13:44:28.718Z"}}
